@media (min-width: 1000px) {
   h1 {
      margin: 0;
      padding: 0;
   }

   nav {
      flex-direction: column;
      padding-top: 2%;
      padding-bottom: 2%;
      height: fit-content;

      > section {
         position: static;
      }

      ul {
         padding-top: 2px;
         padding-bottom: 2px;
      }

      a {
         padding: 4%;
         height: fit-content;
      }

      h1 {
         width: fit-content;
      }
   }

   main {
      align-items: center;
   }

   main > section {
      width: 90%;
   }

   .features {
      justify-content: center;
      column-gap: 5%;

      article {
         align-items: center;
      }
   }

   .activities {

      > article {
         height: 35vh;
      }

      > section {
         width: 90%;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-evenly;
         column-gap: 10%;
         row-gap: 5vh;
      }

      figure {
         width: 45%;
      }
   }

   .company {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      > figure {
         align-items: flex-start;
         column-gap: 2vh;
         flex-direction: row;
      }
      
      img {
         width: 45vh;
         height: 45vh;
      }

      figcaption {
         width: 55%;
         a {
            width: 40%;
         }
      }

      > section {
         align-items: flex-end;
      }
      
   }

   .contact {
      width: 80%;
      flex-direction: row;
      column-gap: 15vh;
      justify-content: space-evenly;
      padding: 0;

      > section,
      > figure {
         justify-content: center;
         padding: 0;
         width: 100%;
      }

      form {
         width: 90%;
      }

      img {
         width: 70vh;
         height: 40vh;
      }

      > figure {
         align-items: flex-start;
      }
   }
}